.container {
    background-color: var(--bgSoft);
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
}

.container input,
.container textarea,
.container select {
    background-color: var(--bg);
    border: none;
    outline: none;
    padding: 20px 10px;
    border-radius: 5px;
    color: lightslategray;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.topForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.rtForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* width:100%; */
    gap: 8px;

}

.ltForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rtForm input {
    width: 100%;

}

.lenghtForm {
    display: flex;
    align-items: center;
}

.lenghtForm input {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.lenghtForm select {
    border-radius: 0;
}

.bottomForm {
    width: 100%;
}

.bottomForm textarea {
    width: 100%;
    min-height: 300px;
}

.forms button {
    padding: 20px;
    border-radius: 5px;
    color: var(--textSoft);
    border: none;
    outline: none;
    background-color: blueviolet;
    cursor: pointer;
    width: 100%;
}