.container {
    position : sticky;
    top : 40px;
}

.user {
    display : flex ;
    align-items:center;
    margin-bottom : 20px;
    gap: 10px ;
}

.userimg {
    border-radius : 50%;
    object-fit: cover;
}

.userDetails {
    display: flex;
    flex-direction : column;
}

.username {
    font-weight : 500 ;
}

.userTitle {
    font-size: 12px;
    color : var(--textSoft);
}
