.container {
    background-color:var(--bgSoft);
    margin-top: 30px;
    border-radius: 10px;
}

.buttons {
    display:flex;
    gap:10px;
}

.button {
    outline:none;
    border:none;
    border-radius:5px;
    background-color: transparent;
    color:var(--textSoft);
    padding:5px 10px;
    cursor: pointer;
}

.top {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:15px;
}

.topBtn {
    color:#fff;
    border-radius:10px;
    background-color:blueviolet;
    padding:15px;
    outline: none;
    border: none;
    cursor: pointer;
}

.table {
    width:100%;
}

.table td {
    padding: 15px;
}

.table thead {
    text-transform: capitalize;
    color: var(--textSoft);
}

.table thead td:where(:hover , :focus , :focus-visible) {
    color:lightslategray;
}

.table tbody tr:where(:hover , :focus , :focus-visible) {
    background-color:lightslategrey
}

.user {
    display:flex;
    align-items:center;
    gap:5px;
}

.user img {
    border-radius: 20px;
}

.view {
    background-color: teal;
}

.delete {
    background-color:crimson;
}
