.container {
    display: flex;
    align-items: center;
    padding : 20px;
    gap : 12px;
    border-radius : 10px;
    margin-block: 10px;

}

.container:where(:hover , .active , :active) {
    background-color : #2e374a;
}